.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 5px 21px -5px #cdd1e1;
  z-index: 100; }

.nav-search {
  width: 420px; }

.nav-item .nav-link::after {
  display: none; }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.sidebar {
  flex-shrink: 0; }

.collapse.show {
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden; }

.sidebar > .nav {
  position: sticky;
  flex-direction: column;
  top: 96px;
  left: 0;
  width: 270px;
  padding: 0 0 0 16px;
  background: #fff;
  overflow-y: hidden;
  max-height: calc(100vh - 90px);
  flex-wrap: nowrap;
  transition: overflow-y linear 2s;
  z-index: 10; }
  .sidebar > .nav div {
    width: 240px; }
  .sidebar > .nav:hover, .sidebar > .nav:active, .sidebar > .nav:focus {
    overflow-y: auto; }

.sidebar .nav:not(.sub-menu) .nav-item > .nav-link[aria-expanded='true'] {
  border-radius: 8px 8px 0 0;
  background: #4b49ac;
  color: #fff; }

.sidebar .nav.sub-menu {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  padding-left: 20px;
  background: #4b49ac; }
  .sidebar .nav.sub-menu .nav-link {
    color: #fff; }

.nav .nav-item {
  margin-bottom: 6px; }

.nav .nav-item.active .nav-link {
  background: #4b49ac;
  color: #fff; }

.nav .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  color: #6c7383;
  width: 100%;
  border-radius: 10px;
  padding: 12px 16px; }
  .nav .nav-link i {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%); }
  .nav .nav-link:hover {
    background: #4b49ac;
    color: #fff; }

.icon {
  margin-right: 10px; }

.app {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 100%;
  display: flex;
  padding: 0; }

.content {
  flex: 1; }
