<aside class='sidebar sidebar-offcanvas' id='sidebar'>
    <ul class='nav'>
        <div>
            <li class='nav-item active'>
                <a class='nav-link' href='index.html'>
                    <svg
                        class='icon'
                        fill='currentColor'
                        height='24'
                        viewBox='0 0 24 24'
                        width='24'
                        xmlns='http://www.w3.org/2000/svg'
                    >
                        <path
                            d='M8.75 13C9.99264 13 11 14.0074 11 15.25V18.75C11 19.9926 9.99264 21 8.75 21H5.25C4.00736 21 3 19.9926 3 18.75V15.25C3 14.0074 4.00736 13 5.25 13H8.75ZM18.75 13C19.9926 13 21 14.0074 21 15.25V18.75C21 19.9926 19.9926 21 18.75 21H15.25C14.0074 21 13 19.9926 13 18.75V15.25C13 14.0074 14.0074 13 15.25 13H18.75ZM8.75 14.5H5.25C4.83579 14.5 4.5 14.8358 4.5 15.25V18.75C4.5 19.1642 4.83579 19.5 5.25 19.5H8.75C9.16421 19.5 9.5 19.1642 9.5 18.75V15.25C9.5 14.8358 9.16421 14.5 8.75 14.5ZM18.75 14.5H15.25C14.8358 14.5 14.5 14.8358 14.5 15.25V18.75C14.5 19.1642 14.8358 19.5 15.25 19.5H18.75C19.1642 19.5 19.5 19.1642 19.5 18.75V15.25C19.5 14.8358 19.1642 14.5 18.75 14.5ZM8.75 3C9.99264 3 11 4.00736 11 5.25V8.75C11 9.99264 9.99264 11 8.75 11H5.25C4.00736 11 3 9.99264 3 8.75V5.25C3 4.00736 4.00736 3 5.25 3H8.75ZM18.75 3C19.9926 3 21 4.00736 21 5.25V8.75C21 9.99264 19.9926 11 18.75 11H15.25C14.0074 11 13 9.99264 13 8.75V5.25C13 4.00736 14.0074 3 15.25 3H18.75ZM8.75 4.5H5.25C4.83579 4.5 4.5 4.83579 4.5 5.25V8.75C4.5 9.16421 4.83579 9.5 5.25 9.5H8.75C9.16421 9.5 9.5 9.16421 9.5 8.75V5.25C9.5 4.83579 9.16421 4.5 8.75 4.5ZM18.75 4.5H15.25C14.8358 4.5 14.5 4.83579 14.5 5.25V8.75C14.5 9.16421 14.8358 9.5 15.25 9.5H18.75C19.1642 9.5 19.5 9.16421 19.5 8.75V5.25C19.5 4.83579 19.1642 4.5 18.75 4.5Z'
                        /></svg>
                    <span class='menu-title'>Dashboard</span>
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    data-toggle='collapse'
                    href='#ui-basic'
                    aria-expanded='false'
                    aria-controls='ui-basic'
                >
                    <i class='icon-layout menu-icon'></i>
                    <span class='menu-title'>UI Elements</span>
                    <i class='fa-solid fa-angle-down'></i>
                </a>
                <div class='collapse' id='ui-basic'>
                    <ul class='nav flex-column sub-menu'>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/ui-features/buttons.html'>Buttons</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/ui-features/dropdowns.html'>Dropdowns</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/ui-features/typography.html'>Typography</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    data-toggle='collapse'
                    href='#form-elements'
                    aria-expanded='false'
                    aria-controls='form-elements'
                >
                    <i class='icon-columns menu-icon'></i>
                    <span class='menu-title'>Form elements</span>
                    <i class='fa-solid fa-angle-down'></i>
                </a>
                <div class='collapse' id='form-elements'>
                    <ul class='nav flex-column sub-menu'>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/forms/basic_elements.html'>Basic Elements</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class='nav-item'>
                <a class='nav-link' data-toggle='collapse' href='#charts' aria-expanded='false' aria-controls='charts'>
                    <i class='icon-bar-graph menu-icon'></i>
                    <span class='menu-title'>Charts</span>
                    <i class='fa-solid fa-angle-down'></i>
                </a>
                <div class='collapse' id='charts'>
                    <ul class='nav flex-column sub-menu'>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/charts/chartjs.html'>ChartJs</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class='nav-item'>
                <a class='nav-link' data-toggle='collapse' href='#tables' aria-expanded='false' aria-controls='tables'>
                    <i class='icon-grid-2 menu-icon'></i>
                    <span class='menu-title'>Tables</span>
                    <i class='fa-solid fa-angle-down'></i>
                </a>
                <div class='collapse' id='tables'>
                    <ul class='nav flex-column sub-menu'>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/tables/basic-table.html'>Basic table</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class='nav-item'>
                <a class='nav-link' data-toggle='collapse' href='#icons' aria-expanded='false' aria-controls='icons'>
                    <i class='icon-contract menu-icon'></i>
                    <span class='menu-title'>Icons</span>
                    <i class='fa-solid fa-angle-down'></i>
                </a>
                <div class='collapse' id='icons'>
                    <ul class='nav flex-column sub-menu'>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/icons/mdi.html'>Mdi icons</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class='nav-item'>
                <a class='nav-link' data-toggle='collapse' href='#auth' aria-expanded='false' aria-controls='auth'>
                    <i class='icon-head menu-icon'></i>
                    <span class='menu-title'>User Pages</span>
                    <i class='fa-solid fa-angle-down'></i>
                </a>
                <div class='collapse' id='auth'>
                    <ul class='nav flex-column sub-menu'>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/samples/login.html'> Login </a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/samples/register.html'> Register </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class='nav-item'>
                <a class='nav-link' data-toggle='collapse' href='#error' aria-expanded='false' aria-controls='error'>
                    <i class='icon-ban menu-icon'></i>
                    <span class='menu-title'>Error pages</span>
                    <i class='fa-solid fa-angle-down'></i>
                </a>
                <div class='collapse' id='error'>
                    <ul class='nav flex-column sub-menu'>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/samples/error-404.html'> 404 </a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/samples/error-500.html'> 500 </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='pages/documentation/documentation.html'>
                    <i class='icon-paper menu-icon'></i>
                    <span class='menu-title'>Documentation</span>
                </a>
            </li>
        </div>
    </ul>
</aside>