<aside class='sidebar' id='sidebar'>
    <ul class='nav'>
        <div>
            <li class='nav-item'>
                <a class='nav-link' href='/'>
                    <svg
                        class='icon'
                        fill='currentColor'
                        height='24'
                        viewBox='0 0 24 24'
                        width='24'
                        xmlns='http://www.w3.org/2000/svg'
                    >
                        <path
                            d='M8.75 13C9.99264 13 11 14.0074 11 15.25V18.75C11 19.9926 9.99264 21 8.75 21H5.25C4.00736 21 3 19.9926 3 18.75V15.25C3 14.0074 4.00736 13 5.25 13H8.75ZM18.75 13C19.9926 13 21 14.0074 21 15.25V18.75C21 19.9926 19.9926 21 18.75 21H15.25C14.0074 21 13 19.9926 13 18.75V15.25C13 14.0074 14.0074 13 15.25 13H18.75ZM8.75 14.5H5.25C4.83579 14.5 4.5 14.8358 4.5 15.25V18.75C4.5 19.1642 4.83579 19.5 5.25 19.5H8.75C9.16421 19.5 9.5 19.1642 9.5 18.75V15.25C9.5 14.8358 9.16421 14.5 8.75 14.5ZM18.75 14.5H15.25C14.8358 14.5 14.5 14.8358 14.5 15.25V18.75C14.5 19.1642 14.8358 19.5 15.25 19.5H18.75C19.1642 19.5 19.5 19.1642 19.5 18.75V15.25C19.5 14.8358 19.1642 14.5 18.75 14.5ZM8.75 3C9.99264 3 11 4.00736 11 5.25V8.75C11 9.99264 9.99264 11 8.75 11H5.25C4.00736 11 3 9.99264 3 8.75V5.25C3 4.00736 4.00736 3 5.25 3H8.75ZM18.75 3C19.9926 3 21 4.00736 21 5.25V8.75C21 9.99264 19.9926 11 18.75 11H15.25C14.0074 11 13 9.99264 13 8.75V5.25C13 4.00736 14.0074 3 15.25 3H18.75ZM8.75 4.5H5.25C4.83579 4.5 4.5 4.83579 4.5 5.25V8.75C4.5 9.16421 4.83579 9.5 5.25 9.5H8.75C9.16421 9.5 9.5 9.16421 9.5 8.75V5.25C9.5 4.83579 9.16421 4.5 8.75 4.5ZM18.75 4.5H15.25C14.8358 4.5 14.5 4.83579 14.5 5.25V8.75C14.5 9.16421 14.8358 9.5 15.25 9.5H18.75C19.1642 9.5 19.5 9.16421 19.5 8.75V5.25C19.5 4.83579 19.1642 4.5 18.75 4.5Z'
                        /></svg>
                    <span class='menu-title'>Dashboard</span>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/users'>
                    <span class='icon fa-regular fa-user'></span>
                    <span class='menu-title'>User</span>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/categories'>
                    <svg
                        class='icon'
                        fill='currentColor'
                        version='1.1'
                        id='Layer_1'
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'
                        x='0px'
                        y='0px'
                        viewBox='0 0 40 40'
                        enable-background='new 0 0 40 40'
                        xml:space='preserve'
                    >
                        <g>
                            <path
                                d='M20,21.569c-0.095,0-0.189-0.021-0.282-0.062L5.434,15.115C5.165,14.995,4.994,14.72,5,14.413
		c0.006-0.303,0.191-0.578,0.46-0.683l14.286-5.681C19.828,8.017,19.913,8,20,8c0.086,0,0.172,0.017,0.254,0.049l14.285,5.679
		c0.275,0.11,0.455,0.378,0.461,0.683c0.008,0.308-0.163,0.584-0.434,0.704L20.281,21.51C20.192,21.549,20.096,21.569,20,21.569
		L20,21.569z M7.626,14.468l12.339,5.522l12.409-5.522L20,9.549L7.626,14.468z'
                            ></path>
                            <path
                                d='M5.434,20.49c-0.361-0.163-0.53-0.604-0.376-0.983c0.113-0.275,0.372-0.454,0.659-0.454c0.097,0,0.191,0.021,0.282,0.062
		l13.967,6.249l14.037-6.249c0.092-0.042,0.186-0.062,0.283-0.062c0.286,0,0.544,0.177,0.656,0.454
		c0.155,0.379-0.014,0.82-0.376,0.983L20,27.008L5.434,20.49z'
                            ></path>
                            <path
                                d='M5.434,25.48c-0.362-0.164-0.531-0.604-0.376-0.981c0.113-0.275,0.372-0.454,0.659-0.454c0.097,0,0.191,0.021,0.282,0.061
		l13.967,6.25l14.037-6.25c0.09-0.039,0.186-0.061,0.283-0.061c0.286,0,0.544,0.179,0.656,0.454
		c0.155,0.378-0.014,0.819-0.375,0.981L20,32L5.434,25.48z'
                            ></path>
                        </g>
                    </svg>
                    <span class='menu-title'>Category</span>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/courses'>
                    <span class='icon fa-regular fa-rectangle-list'></span>
                    <span class='menu-title'>Course</span>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/registers'>
                    <span class='icon fa-regular fa-rectangle-list'></span>
                    <span class='menu-title'>Register</span>
                </a>
            </li>
            {{! <li class='nav-item'>
                <a
                    class='nav-link'
                    data-toggle='collapse'
                    href='#ui-basic'
                    aria-expanded='false'
                    aria-controls='ui-basic'
                >
                    <i class='icon-layout menu-icon'></i>
                    <span class='menu-title'>UI Elements</span>
                    <i class='fa-solid fa-angle-down'></i>
                </a>
                <div class='collapse' id='ui-basic'>
                    <ul class='nav flex-column sub-menu'>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/ui-features/buttons.html'>Buttons</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/ui-features/dropdowns.html'>Dropdowns</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='pages/ui-features/typography.html'>Typography</a>
                        </li>
                    </ul>
                </div>
            </li> }}

        </div>
    </ul>
</aside>